/* Estilos para resoluções maiores */
body {
    font-size: 16px;
    color: #333;
    background-color: #173637;
}
  
.container {
    display: flex;
    flex-wrap: wrap;
}
  
.card {
    flex: 0 0 30%;
    margin: 10px;
}
  
#retangulo1{
    position: absolute;
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    background: #20CD8D;
    border-radius: 2px;
}

#retangulo2{
    position: absolute;
    width: 606px;
    height: 874px;
    left: 261px;
    top: 116px;
    background: #20CD8D;
    border-radius: 10px;
}

#caixa1{
    position: absolute;
    width: 288px;
    height: 134px;
    left: 446px;
    top: 166px;
    background: #388367;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#caixa2{
    position: absolute;
    width: 288px;
    height: 134px;
    left: 442px;
    top: 331px;
    background: #388367;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#caixa3{
    position: absolute;
    width: 288px;
    height: 133px;
    left: 442px;
    top: 492px;
    background: #388367;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#caixa4{
    position: absolute;
    width: 288px;
    height: 134px;
    left: 442px;
    top: 652px;
    background: #388367;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#caixa5{
    position: absolute;
    width: 288px;
    height: 134px;
    left: 442px;
    top: 813px;
    background: #388367;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#dia1{
    position: absolute;
    width: 152px;
    height: 42px;
    left: 229px;
    top: 208px;

    background: #249068;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#dia2{
    position: absolute;
    width: 152px;
    height: 42px;
    left: 229px;
    top: 373px;

    background: #249068;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#dia3{
    position: absolute;
    width: 152px;
    height: 42px;
    left: 229px;
    top: 535px;

    background: #249068;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#dia4{
    position: absolute;
    width: 152px;
    height: 43px;
    left: 229px;
    top: 694px;

    background: #249068;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    }

#dia5{
    position: absolute;
    width: 152px;
    height: 42px;
    left: 229px;
    top: 855px;

    background: #249068;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#opcao{
    position: absolute;
    width: 53px;
    height: 52px;
    left: 37px;
    top: 16px;
    background: #249068;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* teste */

  
/* teste */

sala{
    position: absolute;
    width: 75px;
    height: 34px;
    left: 905px;
    top: 25px;

    background: #249068;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#materia{
    position: absolute;
    width: 149px;
    height: 34px;
    left: 990px;
    top: 25px;

    background: #249068;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#dia{
    position: absolute;
    width: 149px;
    height: 34px;
    left: 1150px;
    top: 25px;

    background: #249068;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
