@media screen and (max-width: 767px) {
    #sala-btn {
      position: absolute;
      left: 15px;
      top: 76px;
      width: 75px;
      height: 34px;
      border: none;
      border-radius: 10px;
      background-color: #249068;
      color: #fff;
      text-align: center;
      line-height: 34px;
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #sala-btn.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    #sala-btn.no-border-bottom {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    #sala-lista {
      display: none;
      position: absolute;
      left: 15px;
      top: 110px;
      width: 75px;
      padding: 5px 0;
      margin: 0;
      list-style: none;
      background-color: #249068;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      z-index: 9;
    }
    #sala-lista li {
      background-color: #1cbb81;
      color: #333;
      padding: 5px;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
    }
    #sala-lista li:hover {
      background-color: #eee;
      border-radius: 8px;
    }
    #sala-btn:focus + #sala-lista {
      display: block;
    }
}
@media screen and (min-width: 768px) {
    #sala-btn {
        position: absolute;
        left: 905px;
        top: 46px;
        width: 75px;
        height: 34px;
        border: none;
        border-radius: 10px;
        background-color: #249068;
        color: #fff;
        text-align: center;
        line-height: 34px;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #sala-btn.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #sala-btn.no-border-bottom {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }  
    #sala-lista {
        display: none;
        position: absolute;
        left: 905px;
        top: 80px;
        width: 75px;
        padding: 5px 0;
        margin: 0;
        list-style: none;
        background-color: #249068;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        z-index: 9;
    } 
    #sala-lista li {
        background-color: #1cbb81;
        color: #333;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
    } 
    #sala-lista li:hover {
        background-color: #eee;
        border-radius: 8px;
    }
    #sala-btn:focus + #sala-lista {
        display: block;
    }
}  
